
<div class="carousel-container row mt-4">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="../assets/img/lodo2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="carrusel-text"></p>
        </div>
      </div>
      <div class="carousel-item active">
        <img src="../assets/img/cupon2.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="carrusel-text"> Obten un descuento del 20% en el platillo del dia</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/img/cupon3.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="carrusel-text">¿Quieres llevarte un helado gratis?</p>
          <button routerLink="/register" type="submit" class="btn btn-custom">
            REGISTRATE
          </button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/img/cupo1.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="carrusel-text">Llevate un 10% en tu proxima visita</p>
        </div>
      </div>
      <!-- Agrega más elementos carousel-item según sea necesario -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</div>

<div class="row mt-4 menu-body">
  <div class="row justify-content-center">
    <div class="col-md-4 center">
      <div class="card mb-3">
        <div class="card-body text-center">
          <div class="containerv">
            <img
              src=" https://i.pinimg.com/564x/67/19/f3/6719f370836104b73d70bedd087139ae.jpg"
              alt="Imagen de fondo" />
          </div>
          <div class="contenedor3">
            <h5 class="titulos mt-4">Amplia selección de platos</h5>
            <p class="card-text"> "Explora nuestra amplia variedad de deliciosos platos en el menú.
              Desde clásicos hasta opciones innovadoras, tenemos algo para todos los
              gustos. Sabores frescos y auténticos que te encantarán en cada bocado.
              ¡Descubre una experiencia gastronómica única con nosotros!"</p>
            <button class="btn-bajar">Ver más</button>
          </div>
          
          <div class="button-group">
            <button routerLink="/menu" type="submit" class="btn btn-custom">
              Conoce más
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 center">
      <div class="card mb-3">
        <div class="card-body text-center">
          <div class="containerv">
            <img
              src="https://i.pinimg.com/564x/a0/8a/31/a08a3129902594d47b889573c8dd3b11.jpg"
              alt="Imagen de fondo" />
          </div>
          <div class="contenedor3">
            <h5 class="titulos mt-4">Entregas a domicilio</h5>
          <p class="card-text">   "Ordena fácilmente desde casa con nuestro servicio de entrega a
            domicilio o elige recoger tu pedido en el restaurante. ¡Tú decides
            cómo disfrutar de nuestra deliciosa comida!"</p>
            <button class="btn-bajar">Ver más</button>
          </div>
          <div class="button-group">
            <button routerLink="/error" type="submit" class="btn btn-custom">
              Pide ahora
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 center">
      <div class="card mb-3">
        <div class="card-body text-center">
          <div class="containerv">
            <img
              src="https://i.pinimg.com/564x/5e/1a/99/5e1a99e065a0e3be3666bb22052410f4.jpg"
              alt="Imagen de fondo" />
          </div>
         <div class="contenedor3">
          <h5 class="titulos mt-4">Reservaciones</h5>
          <p class="card-text mt-4">"En nuestre restaurante, ofrecemos reservas de mesas para ocasiones
            especiales. Permítanos hacer de su próxima celebración un evento
            inolvidable."</p>
            <button class="btn-bajar">Ver más</button>
         </div>
          <div class="button-group">
            <button routerLink="/pedido" type="submit" class="btn btn-custom">
              Reservar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row mt-4 menu-body">
  <div class="row justify-content-center">
    <div class="col-md-4 center">
      <div class="card1 mb-3">
        <div class="card-body text-center">
          <h5 class="titulo mt-4">Visión</h5>
          <p class="card-text1 mt-4">"Nos vemos como el destino preferido para los amantes de la buena comida, manteniendo nuestros estándares de calidad y aspirando a ser reconocidos por nuestra cocina excepcional y dedicación a la excelencia en cada detalle."</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 center">
      <div class="card1 mb-3">
        <div class="card-body text-center">
          <h5 class="titulo mt-4">Misión</h5>
          <p class="card-text1 mt-4"> "En Gustes, nos dedicamos a ofrecer una experiencia gastronómica excepcional, fusionando pasión por la cocina de calidad con un servicio excepcional para deleitar a nuestros clientes."</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 center">
      <div class="card1 mb-3">
        <div class="card-body text-center">
          <h5 class="titulo mt-4">Valores</h5>
          <p class="card-text1 mt-4">    1. Calidad.   <br>  
            2. Hospitalidad. <br>
            3. Pasión. <br>
            4. Autenticidad. <br>
            5. Innovación. <br>
            6. Responsabilidad. <br>
            7. Comunidad. <br> 
            8. Excelencia. <br> </p>
        </div>
      </div>
    </div>
  </div>
</div>