.menu-card {
    background-color:rgba(119, 177, 121, 0.5); /* Color de fondo */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px;
    margin: 20px 0;
  }
  
  .menu-header h1 {
    color: #333;
    font-size: 32px; /* Tamaño de fuente más grande */
    margin-bottom: 20px;
  }
  
  .card {
    background-color: rgb(234, 250, 241); /* Fondo blanco */
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada en hover */
    transform: translateY(-4px); /* Levantar ligeramente al hacer hover */
    transition: all 0.3s ease;
  }
  
  .card-body {
    padding: 20px;
    background-color: #fff;
 
  }
  
  .card-title {
    font-size: 24px; /* Tamaño de fuente más grande */
    color: #333;
    margin-bottom: 10px;
  }
  
  
  .card-text {
    font-family: cursive;
    font-size: 20px;
    line-height: 1.9;
    color: #0b4d1a;
    text-align: center;
}
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button-group button {
    flex: 1;
    border-radius: 25px; /* Bordes más redondeados */
    margin: 0 5px;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: white;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-success {
    background-color: #28a745;
    color: white;
  }
  
  .btn-secondary:hover, .btn-danger:hover, .btn-success:hover {
    opacity: 0.9;
  }
  
  .titulo{
    font-family: cursive;
    font-size: 40 px;
    text-align: center;
    color: #77b179;
  }


/* Estilos para las migas de pan */
.breadcrumb {
  
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.breadcrumb-item {
  display: inline-block;
  margin-right: 0.5rem;
}

.breadcrumb-item:last-child {
  font-weight: 700;
  color: #d8ffdc; /* Color del último elemento */
}

.breadcrumb-item:not(:last-child)::after {
  content: '>';
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #d8ffdc; /* Color del separador */
}

.breadcrumb-item a {
  color: #d8ffdc; /* Color de los enlaces */
  text-decoration: none;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}
