<div style="text-align: center;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" *ngFor="let crumb of breadcrumbs">
        <a [routerLink]="crumb.url">{{ crumb.label }}</a>
      </li>
    </ol>
  </nav>
</div>


<div class="card">
    <div class="card-body">
      <h2>Aceptación de los Términos y Condiciones</h2>
  
      <p>Al acceder y utilizar este sitio web, aceptas cumplir con los siguientes términos y condiciones de uso. Si no estás de acuerdo con alguno de estos términos, por favor, no utilices este sitio.</p>
  
      <h3>Uso del Sitio Web</h3>
      <p>Este sitio web está destinado únicamente para uso personal y no comercial. Queda prohibido utilizar este sitio para cualquier propósito ilegal o no autorizado.</p>
  
      <h3>Propiedad Intelectual</h3>
      <p>Todos los contenidos de este sitio web, incluyendo pero no limitado a texto, gráficos, logotipos, iconos, imágenes, audio y video clips, son propiedad exclusiva de TareaTech y están protegidos por las leyes de propiedad intelectual.</p>
  
      <h3> Limitación de Responsabilidad</h3>
      <p>Para grupos grandes, se puede requerir un depósito o un menú preestablecido. Por favor, póngase en contacto con nosotros para discutir las opciones disponibles para su grupo.</p>
  
      <h3>Servicio al Cliente:</h3>
      <p>El uso de este sitio web es bajo tu propio riesgo. No nos hacemos responsables de cualquier daño directo, indirecto, incidental, especial o consecuente que pueda surgir del uso de este sitio web.</p>
  
      <h3>Modificaciones</h3>
      <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Los cambios entrarán en vigor inmediatamente después de su publicación en este sitio web.</p>

      <h2>Políticas de Privacidad y Seguridad:</h2>
  
      <h3>Recopilación de Información</h3>
      <p>Recopilamos información personal como nombres, direcciones de correo electrónico y números de teléfono solo cuando los usuarios nos proporcionan voluntariamente esta información a través de formularios de contacto, registros de cuentas u otras interacciones en el sitio web.</p>
  
      <h3>Uso de la Información</h3>
      <p>Utilizamos la información recopilada para responder a consultas, procesar pedidos, enviar comunicaciones promocionales y mejorar la experiencia del usuario en el sitio web. No compartiremos, venderemos ni alquilaremos información personal a terceros sin el consentimiento previo del usuario, excepto cuando sea necesario para cumplir con la ley o proteger nuestros derechos.</p>
  
      <h3>Seguridad de la Información</h3>
      <p>Implementamos medidas de seguridad para proteger la información personal de pérdidas, usos indebidos, accesos no autorizados, divulgaciones o alteraciones. Sin embargo, no podemos garantizar la seguridad absoluta de la información transmitida a través de Internet y, por lo tanto, el usuario asume el riesgo al proporcionar información personal en línea.</p>
      
      <h3>Consentimiento</h3>

      <p>Al utilizar este sitio web, aceptas nuestra política de privacidad y seguridad. Si tienes alguna pregunta o inquietud sobre esta política, contáctanos.</p>
    
    </div>
  </div>
  