body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-header {
    background-color: #4b5563;
    color: #fff;
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .menu-item {
    padding: 10px 20px;
    border-bottom: 1px solid #cbd5e0;
  }
  
  .menu-item:last-child {
    border-bottom: none;
  }
  
  .menu-item:hover {
    background-color: #e2e8f0;
  }
  
  .menu-item-icon {
    margin-right: 10px;
  }
  
  .menu-item-link {
    color: #2d3748;
    text-decoration: none;
  }
  
  .menu-item-link:hover {
    color: #3182ce;
  }
   

/* Estilos para las migas de pan */
.breadcrumb {
  
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.breadcrumb-item {
  display: inline-block;
  margin-right: 0.5rem;
}

.breadcrumb-item:last-child {
  font-weight: 700;
  color: #d8ffdc; /* Color del último elemento */
}

.breadcrumb-item:not(:last-child)::after {
  content: '>';
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #d8ffdc; /* Color del separador */
}

.breadcrumb-item a {
  color: #d8ffdc; /* Color de los enlaces */
  text-decoration: none;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.bi-basket{
  cursor: pointer;
}
