

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    margin-bottom: 10px;
}

.btn-sm {
    margin-right: 5px;
}
.bt1{
    margin-left: 1%;
    background-color: rgb(125, 70, 255);
    color: white;
    font-family: monospace;
    border: 2px solid white;
}
.moda{
    background-color: rgb(125, 70, 255);
    color: white;
    font-family: monospace;
    border: 2px solid white;
}
.cardd{
    margin-bottom: 20px;
    background-color: transparent;
    border: 0px solid transparent;
    color: white;
}
::placeholder {
    color: white;
    opacity: 1; /* Para que el color sea sólido */
}
input.cale {
    color: white;
}

textarea.cale {
    color: white;
}
.hed{
    color: white;
}
.mh{
    background-color:rgb(125, 70, 255) ;
    border: 2px solid white;

}
/* Estilos personalizados para la card */
.custom-card {
    background-color: transparent; /* Card transparente */
    border: 2px solid white;
    color: white; /* Texto blanco */
}

.custom-card .card-header {
    background-color: transparent; /* Header transparente */
    border: 1px solid white;
    color: white; /* Texto blanco */
}

.custom-card .card-body {
    color: white; /* Texto blanco en el cuerpo */
}

.custom-card .btn-secondary {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}

.custom-card .btn-secondary:hover {
    background-color: rgb(211, 210, 210);
}

.custom-card .btn-danger {
    color: white;
    background-color: rgba(255, 0, 0, 0.6);
    border: none;
}

.custom-card .btn-danger:hover {
    background-color: rgba(255, 0, 0, 0.8);
}
.card-header{
    font-size: 20px;
}
.row{
    margin-left: 1px;
    margin-right: 1px;
}