<section class="search__container">
  <label class="search_label">
    <input
      type="text"
      class="search_input"
      [(ngModel)]="searchTerm"
      (input)="search()"
      placeholder="Buscador"
    />
    <i class="fas fa-search"></i>
  </label>
  <ul class="search_results" *ngIf="searchTerm && searchResults.length > 0">
    <li *ngFor="let result of searchResults">
      <a [routerLink]="[result.id]">{{ result.name }}</a>
    </li>
  </ul>
  <p class="search_results" *ngIf="searchTerm && searchResults.length === 0">
    No se encontraron coincidencias.
  </p>
</section>
