.card-header{
    background-color: rgb(125, 70, 255);
    color: white;
    font-family: monospace;
    border: 2px solid white;
}
.card-body{
    background-color: rgb(125, 70, 255);
    color: white;
    font-family: monospace;
    border: 2px solid white;
}
.btn1{
    background-color: rgb(125, 70, 255);
    color: white;
    font-family: monospace;
    border: 2px solid white;
}